<!DOCTYPE html>
<html lang="es">
    <head>
        <script src="https://cdn.rawgit.com/download/polymer-cdn/2.6.0/lib/webcomponentsjs/webcomponents-loader.js"></script>
        <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/2.6.0/lib/iron-ajax/iron-ajax.html">
        <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/2.6.0/lib/polymer/polymer-element.html">
        <!-- <link rel="stylesheet" type="text/css"> -->
        <meta charset="utf-8">
        <title>Juego Ahorcado</title>
    </head>
    <body>
        <hanged-man></hanged-man>

        <dom-module id="hanged-man">
            <template>
                <div id="div-main">
                    <h2>Juego del Ahorcado</h2>
                    <div id="div-input-word" >
                        <h3 class="bloqueo">Introduce la palabra a adivinar:</h3>
                        <br>
                        <input class="bloqueo" id="in-word" type="password" value="{{word::input}}"><br><br>
                        <button class="bloqueo" on-tap="displayHangedMan">Comenzar</button>
                    </div>
                    <div id="div-hanged-man">
                        <img src="{{imgStage}}">
                        <input id="inTry" type="text" on-keyup="processLetter" maxlength="1" size="3"><br>
                        <label>[[wordMask]]</label>
                    </div>
                    <div id="divLoseScreen">
                        <h2>Perdiste :/ </h2>
                    </div>
                    <div id="divWinScreen">
                        <h2>Ganaste :D </h2>
                    </div>
                </div>
                <style>
                    #div-main{
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                        width:50%;
                        align-items: center;
                        justify-content: center;
                    }

                    #div-input-word{
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }

                    #div-hanged-man{
                        display: none;
                    }

                    #divLoseScreen{
                        display: none;
                    }

                    #divWinScreen{
                        display: none;
                    }

                    img{
                        max-width: 300px;
                    }

                    label{
                        font-size: 40px;
                    }
                </style>
            </template>
            <script>

                Polymer({
                    is:'hanged-man',
                    properties: {
                        word: {type: String, value: ""},
                        wordMask: {type: String, value: ""},
                        wordCorrectChars: {type: Array, value: []},
                        maxTries:{type: Number, value: 6},
                        tries:{type: Number, value: 0},
                        imgStage: {type: String, value: `./images/0.png`},
                        /*
                        gameState{
                            0: ingresar palabra a adivinar,
                            1: ingresar caracter a intentar,
                            2: victoria
                            3: derrota
                        }
                        */
                        gameState: {type: Number, value: 0}
                    },
                    displayHangedMan: function(){
                        this.word = this.$$('#in-word').value;

                        for(var i=0; i<this.word.length; i++)
                            this.wordCorrectChars.push(false);

                        this.generateMask();
                        this.hideInputWordStep();
                        this.$$("#div-hanged-man").style.display = "block";
                        this.$$('#inTry').focus()
                        this.gameState = 1;
                    },
                    generateMask: function(){
                        var mask = "";
                        for(var i=0; i<this.word.length; i++){
                            mask += (this.wordCorrectChars[i]) ? this.word.charAt(i) : "_";
                            mask += " ";
                        }
                        this.wordMask = mask;
                    },
                    searchCharacter: function(char){
                        let isFound = false;
                        for(var i=0; i<this.word.length; i++){
                            if(this.word.charAt(i).toUpperCase() === char.toUpperCase()){
                                this.wordCorrectChars[i] = true;
                                isFound = true;
                            }
                        }
                        if(isFound === false){
                            this.tries ++;
                            if(this.tries > this.maxTries)  
                                this.tries = this.maxTries;
                            
                            this.imgStage = `./images/${this.tries}.png`
                        }

                        var isAllCorrect = true;
                        for(var i=0; i<this.wordCorrectChars.length; i++)
                            if(this.wordCorrectChars[i] === false){
                                isAllCorrect = false;
                                break;
                            }

                        if(isAllCorrect){
                            //Terminar juego en victoria
                            this.$$("#divWinScreen").style.display = "block";
                            this.gameState = 2;
                        }else if(this.tries == this.maxTries){
                            //Terminar juego en derrota
                            this.$$("#divLoseScreen").style.display = "block";
                            this.gameState = 3;
                        }
                    },
                    processLetter: function(){
                        let letter = this.$$('#inTry').value;
                        if(this.gameState == 1 && letter != ""){
                            this.searchCharacter(letter);
                            this.generateMask();
                            this.$$('#inTry').value = "";
                        }
                    },
                    hideInputWordStep: function(){
                        this.$$('#div-input-word').style.display = "none";
                    }
                })
                
            </script>
        </dom-module>
    </body>
</html>