<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdn.rawgit.com/download/polymer-cdn/2.6.0/lib/webcomponentsjs/webcomponents-loader.js"></script>
        <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/2.6.0/lib/iron-ajax/iron-ajax.html">
        <link rel="import" href="https://cdn.rawgit.com/download/polymer-cdn/2.6.0/lib/polymer/polymer-element.html">
        <title>Calculadora Binaria</title>
    </head>
    <body>
        <dom-module id="binary-calc">
            <template>
                <div id="div-main-wrapper">
                    <div id="div-main">
                        <input id="in-text" type="text" maxlength="20" value="{{inNumber::input}}" on-keydown="validateDigits"><br>
                        <button on-tap="cero">0</button>
                        <button on-tap="one">1</button>
                        <button on-tap="clear">C</button>
                        <button on-tap="equals">=</button><br>
    
                        <button on-tap="plus">+</button>
                        <button on-tap="minus">-</button>
                        <button on-tap="division">÷</button>
                        <button on-tap="multi">×</button>
                    </div>
                </div>
                <style>
                    #div-main-wrapper{
                        text-align: center;
                        background-color: darkred;
                    }

                    #div-main{
                        display: inline-block;
                        background-color: coral;
                    }

                    input{
                        text-align: right;
                        margin:5px;
                        height: 40px;
                        font-size: 14px;
                    }

                    button{
                        width: 40px;
                        height: 35px;
                        margin:5px;
                        font-size: 18px;
                    }
                </style>
            </template>
            <script>
                Polymer({
                    is: 'binary-calc',
                    properties:{
                        inNumber:{type: String, value: ""},
                        bufferNumber:{type: String, value: ""},
                        resultNumber:{type: String, value: ""},
                        maxInputLength: {type: Number, value: 20},
                        currentOperation: {type: Number, value: 0},
                        isNegative: {type: Boolean, value: false},

                        _NONE: {type: Number, value: 0},
                        _PLUS: {type: Number, value: 1},
                        _MINUS: {type: Number, value: 2},
                        _DIV: {type: Number, value: 3},
                        _MUL: {type: Number, value: 4}
                    },
                    validateDigits: function(e){
                        console.log(`tecla presionada keyCode >${e.keyCode}<`);
                        switch(e.keyCode){
                            case 8:  //Retroceso
                            case 13: //Enter
                            case 46: //Suprimir
                            case 48: //Cero arriba
                            case 96: //Cero teclado numerico
                            case 49: //Uno arriba
                            case 97: //Uno teclado numérico
                            case 37: // ←
                            case 39: // →
                                break; //Hacer nada
                            default: //Impedir que se escriba en el input
                                e.preventDefault();
                        }
                    },
                    cero: function(){
                        console.log("0 Pressed");
                        if(this.inNumber.length < this.maxInputLength)
                            this.inNumber += "0";
                    },
                    one: function(){
                        console.log("1 Pressed")
                        this.inNumber += "1";
                    },
                    clear: function(){
                        console.log("C Pressed")
                        this.inNumber = ""
                        this.currentOperation = ""
                    },
                    equals: function(){
                        console.log("= Pressed")
                        if( this.inNumber != ""
                            && this.bufferNumber != ""
                            && this.currentOperation != ""){
                            switch (this.currentOperation){
                                case this._PLUS:
                                    this.adds2Numbers()
                                    this.$$("#in-text").value = this.resultNumber
                                    this.cleanCalc()
                                    break;
                                case this._MINUS:
                                    this.inNumber *= -1
                                    this.adds2Numbers()
                                    this.$$("#in-text").value = this.resultNumber
                                    this.cleanCalc()
                                    break;
                                case this._DIV:
                                    this.divide2Numbers()
                                    this.$$("#in-text").value = this.resultNumber
                                    this.cleanCalc()
                                    break;
                                case this._MUL:
                                    this.multi2Numbers()
                                    this.$$("#in-text").value = this.resultNumber
                                    this.cleanCalc()
                                    break;
                            }
                        }
                    },


                    plus: function(){
                        console.log("+ Pressed");
                        if(this.inNumber != ""){
                            this.currentOperation = this._PLUS
                            this.copyToBuffer()
                        }
                    },
                    minus: function(){
                        console.log("- Pressed")
                        if(this.inNumber != ""){
                            this.currentOperation = this._MINUS
                            this.copyToBuffer()

                        }
                    },
                    division: function(){
                        console.log("÷ Pressed")
                        if(this.inNumber != ""){
                            this.currentOperation = this._DIV
                            this.copyToBuffer()

                        }
                    },
                    multi: function(){
                        console.log("× Pressed")
                        if(this.inNumber != ""){
                            this.currentOperation = this._MUL
                            this.copyToBuffer()
                        }
                    },
                    copyToBuffer: function(){
                        this.bufferNumber = this.inNumber
                        this.inNumber = ""
                        console.log(`bufferNum >${this.bufferNumber}<`);
                    },


                    adds2Numbers: function(){
                        var numA = parseInt(this.bufferNumber, 2)
                        var numB = parseInt(this.inNumber, 2)

                        var numRes = numA + numB

                        var binaryRes = this.decimalToBinary(numRes)

                        this.resultNumber = binaryRes;
                    },

                    multi2Numbers: function(){
                        var numA = parseInt(this.bufferNumber, 2)
                        var numB = parseInt(this.inNumber, 2)

                        var numRes = numA * numB 

                        var binaryRes = this.decimalToBinary(numRes)

                        this.resultNumber = binaryRes;
                    },

                    divide2Numbers: function (){
                        var numA = parseInt(this.bufferNumber, 2)
                        var numB = parseInt(this.inNumber, 2)

                        var numRes = numA / numB 

                        var binaryRes = this.decimalToBinary(numRes)

                        this.resultNumber = binaryRes
                    },

                    cleanCalc : function(){
                        this.currentOperation = this._NONE
                        this.bufferNumber = ""
                        this.resultNumber = ""
                    },

                    decimalToBinary: function(decimal){
                        return decimal.toString(2)
                    }

                })
            </script>
        </dom-module>

        <binary-calc></binary-calc>
    </body>
</html>